<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de los productos</title>
    <link rel="Stylesheet" href="css/main.css" type="text/css">
</head>
<body>
    <h1 style="text-align: center;">Buscar el producto por medio del ID</h1>

    <form style="text-align: center;" action="/details-products/findproduct" method="POST">
        <br><br>Ingrese la ID del producto: <input type="text" name="productid" id="productid">
        <button> Buscar producto </button><br><br><br>

        <h3><a href="http://localhost:3000/" class="nave-link" >Regresar a Inicio</a></h3>
    </form>
    <script>
        var productid = document.getElementById('productid');
    </script>
</body>
</html>