<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de los productos</title>
</head>
<body>
    <h1 style="text-align: center;">Buscar el producto por medio del ID</h1>
    <form style="text-align: center" action="/details-products/findproduct" method="POST">
        <br><br>Ingrese la ID del producto: <input type="text" name="productid" id="productid">
        <button> Buscar producto </button><br><br><br>
        <img src="/public/draw/buscar.jpg" alt="" width="100" height="100" /><br>
    </form>
    <script>
        var productid = document.getElementById('productid');
        txt.productid.focus();
    </script>
</body>
</html>