<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de los cupones</title>
    <link rel="Stylesheet" href="css/main.css" type="text/css">
</head>
<body>
    <h1 style="text-align: center;">Buscar el bono por medio del product_ID</h1>

    <form style="text-align: center" action="./details-coupons/findcoupon" method="POST">
        <br><br>Ingrese la ID del product_ID: <input type="text" name="productid" id="productid">
        <button> Buscar bono </button><br><br><br>
        <h3 style="text-align: center"><a href="http://localhost:3000/" class="nave-link" >Regresar a Inicio</a></h3>
    </form>
    <script>
        const productid = document.getElementById('productid');
        productid.focus();
    </script>
</body>
</html>