<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto encontrado</title>
</head>
<body>
    <h1>
        Aqui tiene el producto que estaba buscando
    </h1>
    <h3><a href="http://localhost:3000/" class="nave-link" >Regresar a Inicio</a></h3>
</body>
</html>