<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu de opciones</title>
    <link rel="Stylesheet" href="css/main.css" type="text/css">
</head>
<body>
    <b><p style="text-align: center; font-size: 50px;"> MENU DE OPCIONES DE LA APLICACIÓN</p>
    
    <div style="margin-left: 20%">
    <p><a href="http://localhost:3000/products" class="nave-link" >1. Lista de todos los productos </p></h3>

    <p><a href="http://localhost:3000/details-products" class="nave-link" >2. Buscar los detalles de un producto</a></p>

    <p><a href="http://localhost:3000/newproduct" class="nave-link" >3. Crear un nuevo producto</a></p>

    <p><a href="http://localhost:3000/newcoupons" class="nave-link" >4. crear un nuevo bono</a></p>

    <p><a href="http://localhost:3000/coupons" class="nave-link" >5. Lista de todos los bonos disponibles</a></p>
    
    <p><a href="http://localhost:3000/details-coupons" class="nave-link" >6. Buscar los detalles de un bono</a></p>
    
    <p><a href="http://localhost:3000/validarCoupon" class="nave-link" >7. Validar bono</a></p>
    </div>
</body>
</html>