<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu de opciones</title>
</head>
<body style="background-color: cadetblue;">
    <h1 style="margin: auto; text-align: center; color: brown;" > MENU DE OPCIONES DE LA APLICACIÓN</h1>

    <div style="padding: 50px;"><h3><a href="http://localhost:3000/products" class="nave-link" >1. Lista de todos los productos </a></h3>

    <h3><a href="http://localhost:3000/details-product" class="nave-link" >2. Buscar los detalles de un producto</a></h3>

    <h3><a href="http://localhost:3000/newproduct" class="nave-link" >3. Crear un nuevo producto</a></h3>

    <h3><a href="http://localhost:3000/newcoupons" class="nave-link" >4. crear un nuevo bono</a></h3>

    <h3><a href="http://localhost:3000/coupons" class="nave-link" >5. Lista de todos los bonos disponibles</a></h3>
    
    <h3><a href="http://localhost:3000/details-coupon" class="nave-link" >6. Buscar los detalles de un bono</a></h3>
    
    <h3><a href="http://localhost:3000/validarCoupon" class="nave-link" >7. Validar bono</a></h3>
    </div>
</body>
</html>