<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo cupon</title>
    <link rel="Stylesheet" href="css/main.css" type="text/css">
</head>
<body style="text-align: center">
    <h1>Agregar nuevo cupon</h1>
    <form action ="/newcoupons/newc" method="POST">
        Ingrese el nombre del cupon: <input type="text" name="newName" id="newName"><br><br>
        Ingrese la descripcion: <input type="text" name="newDescription" id="newDescription"><br><br>
        Ingrese el id del producto: <input type="text" name="newId" id="newId"><br><br>

        <button> Agregar cupon </button>
        <script>
            const newName = document.getElementById('newName');
            const newDescription = document.getElementById('newDescription');
            const newId = document.getElementById('newId')
            newName.id.focus();
        </script>
        <h3><a href="http://localhost:3000/" class="nave-link" >Regresar a Inicio</a></h3>
    </form>
</body>
</html>