<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bono agregado</title>
</head>
<body>
    <h1>EL bono fue creado y esta lleno de la siguiente forma </h1>
    <form action="/newproduct/newp" method="GET">
    <ul>
        <li> 
            id = <%= coupon.length %><br>
            name = <%= coupon[coupon.length].name %><br>
        </li>
    </ul>
    </form>
</body>
</html>